body {
    padding-top: 50px;
}
.starter-template {
    padding: 40px 15px;
    text-align: center;
}

.log-message {
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 30px;
}