body {
    padding-top: 50px;
}

.log-message {
    background-color: #eee;
    border-radius: 6px;
    padding: 10px;
    margin-bottom: 30px;
    word-wrap: break-word;
}

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
    padding: 14px 24px;
    font-size: 21px;
}

.btn-default {
    margin-bottom: 10px;
}

input, select {
    margin-bottom: 10px;
}

.dateInterval {
    position: relative;
}

#removeDateIntervalButtonDiv {
    bottom: 0;
    right: 0;
    position: absolute;
}